@inherits LayoutComponentBase

<PageTitle>AdvancedTimer</PageTitle>

<div class="page">
    <main>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Advanced Timer</a>
          </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>